.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo-full {
  height: 120px;
  opacity: 1;
  transition: opacity 0.5s;
}

.logo-full.logo-only {
  opacity: 0;
}

.logo-icon {
  height: 120px;
  position: absolute;
  opacity: 0;
  transition: all 0.5s;
}

.logo-icon.logo-only {
  opacity: 1;
  height: 80px;
}